# output
rawdata/*
models/*
datasets/*

# pycache
src/__pycache__/
src/utility/__pycache__/
src/utility/data_framing/__pycache__/

# other
.idea/
venv/

# IntelliJ
/out/

# JIRA plugin
atlassian-ide-plugin.xml

# Crashlytics plugin (for Android Studio and IntelliJ)
com_crashlytics_export_strings.xml
crashlytics.properties
crashlytics-build.properties
fabric.properties

# NodeJS
frontend/node_modules/*