# output
data/rawdata/*
data/rawdata_all/*
models/*
data/datasets/*
# !data/datasets/embeddings_final*
# !data/datasets/features_final*
logs/*
testing/*
configs/frontend_users.json
configs/aliases.json

# pycache
**/__pycache__/

# other
.idea/
venv/

# IntelliJ
/out/

# JIRA plugin
atlassian-ide-plugin.xml

# Crashlytics plugin (for Android Studio and IntelliJ)
com_crashlytics_export_strings.xml
crashlytics.properties
crashlytics-build.properties
fabric.properties

# NodeJS
frontend/node_modules/*

# Test results
*.csv