<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>WhosApp Demo</title>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="icon" type="image/x-icon" href="/images/main_logo.png">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
</head>
<body>
    <div id="app">>
        <%- include('top-bar.ejs') %>

        <table id="global-meters">
            <thead>
                <tr>
                    <td id="global-header" colspan="3"><b>Predizione Assoluta</b></td>
                </tr>
            </thead>
            <tbody>

            </tbody>
        </table>
    
        <div id="message-wrapper">
            <div id="inside-wrapper">
                <div id="message-display">

                </div>
            </div>
        </div>

        <%- include('typing-bar.ejs') %>
    
    </div>

    <script type="module" src="https://cdn.jsdelivr.net/npm/emoji-picker-element@^1/index.js"></script>
    <script type="module" src="/js/script.js"></script>
</body>
</html>