<div id="top-bar">
    <div>
        <img id="logo" src="" alt="" />
        <div id="name-status">
            <p>WhosApp</p>
            <p id="is-thinking">Sta pensando...</p>
        </div>
    </div>
    
    <div>
        <a id="github-link" href="https://github.com/danlig/WhosApp">
            <img src="/images/github.png" alt="" />
        </a>

        <button id="options">
           <div></div>
           <div></div>
           <div></div>
        </button>
    </div>
</div>