<div class="typing-bar" action="">
    <div id="user-typing">
        <div id="emoji-btn">
            <img src="/images/emoji.png" alt="">
        </div>

        <textarea rows="1" type="text" name="user-input" id="user-input" placeholder="Scrivi un messaggio"></textarea>
    </div>

    <button id="send-btn">
        <img src="/images/send_icon.png" alt="">
    </button>
</div>